# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Spring Boot Environment Variables
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/toss_beneface
SPRING_DATASOURCE_USERNAME=toss_beneface_user
SPRING_DATASOURCE_PASSWORD=ai0310
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Toss Payment
TOSS_SUCCESS_URL=http://localhost/api/payment/success
TOSS_FAIL_URL=http://localhost/api/payment/fail
